.locName {
    text-align: left;
    padding-right: 20px;
}

.locCheck {
    width: 20px;
}

.tdContent {
    text-align: left;
    padding-right: 20px;
}

.demoGeolocated {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: space-around;
}

.w3-bordered tr,.w3-table-all tr{border:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#404856}

.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#404856}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#404856}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}